/*RESET RULES*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* */

.bg-gray {
    background-color: #d3d3d3;
}

.text-center {
    text-align: center;
}

.grow-1 {
	flex-grow: 1;
}

/*DEBUG*/

.debug .page-header {
    background-color: #add8e6;
    padding: 10px;
}

.debug .page-header [class^='col'] {
    padding: 10px;
	border: 1px dashed black;
    background-color: #daa520;
}

.debug section {
    padding: 20px;
    border: 2px solid black;
}

.debug .main-content__hero {
    background-color: #00008b;
}

.debug .main-content__hero [class^='col-'] {
	background-color: #ee82ee;
}

.debug .conteiner, .debug .conteiner-small {
	padding: 10px;
	border: 2px solid black;
}

.debug main [class^='col-'] {
    padding: 10px;
	border: 1px dashed rgb(0, 0, 0);
    min-height: 300px;
}

.debug main .col-8 {
	background-color: #1e90ff;
}

.debug main .col-4 {
	background-color: #ffc0cb;
}

.debug .min-height500 .col-12 {
	background-color: #228b22;
	min-height: 500px;
}

/**/


.debug .row {
	padding: 10px;
	border: 2px solid red;
}



.debug .footer-content section.footer-content__top {
    padding-top: 10px;
}

.debug .footer-content section.footer-content__botom {
    padding-bottom: 0;
}

/*HEADER*/



/*ROW, COL and CONTEINER*/

.conteiner {
    margin: 0 auto;
    max-width: 1000px;
}

.conteiner-small {
    margin: 0 auto;
    max-width: 700px;
}

.row {
    display: flex;
}

.row-reverse {
	flex-direction: row-reverse;
}

.col-2 {
    flex-basis: calc(100% / 6);
}

.col-3 {
    flex-basis: calc(100% / 4);
}

.col-4 {
    flex-basis: calc(100% / 3);
}

.col-6 {
    flex-basis: calc(100% / 2);
}

.col-8 {
    flex-basis: calc((100% / 12 ) * 8 );
}

/*
.col-10 {
    flex-basis: calc((100% / 12 ) * 10 );
}
*/

.col-12 {
    flex-basis: calc(100% / 1);
}

/*MAIN CONTENT*/

